<div class="header absolute top-0 left-0 right-0 z-[100]">
  <div class="container flex items-center justify-between py-8">
    <nav>
      <ul class="nav__container">
        <li>
          <a routerLink="/" class="nav__link">
            <fa-icon [icon]="homeIcon" [styles]="{ color: 'white' }"></fa-icon>
            <p class="nav__text">Home</p>
          </a>
        </li>
        <li>
          <a routerLink="/movies" class="nav__link">
            <fa-icon [icon]="filmIcon" [styles]="{ color: 'white' }"></fa-icon>
            <p class="nav__text">Movies</p>
          </a>
        </li>
      </ul>
    </nav>

    <div>
      <a
        routerLink="/"
        class="cursor-pointer hover:scale-105 transform transition-all"
      >
      <img src="/assets/netflix.png" alt="netflix" class="w-16" />      </a>
    </div>

    <nav>
      <ul class="nav__container">
        <li>
          <a routerLink="/search" class="nav__link">
            <fa-icon
              [icon]="searchIcon"
              [styles]="{ color: 'white' }"
            ></fa-icon>
            <p class="nav__text">Search</p>
          </a>
        </li>
        <li class="nav__parent">
          <a class="nav__link">
            <fa-icon
              [icon]="favouriteIcon"
              [styles]="{ color: 'white' }"
            ></fa-icon>
            <p class="nav__text">Favorites ({{ favoritesSize }})</p>
          </a>

          <div
            class="nav__dropdown shadow-md transform transition-all w-[200px] md:w-[350px] h-[350px]"
          >
            <app-favorite-list></app-favorite-list>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
