<br ><br ><br ><div class="w-full">
  <div class="flex h-[60vh] items-center justify-center">
    <div
      class="z-[2] absolute inset-0 h-[60vh] bg-home-2 bg-no-repeat bg-center opacity-30"
    ></div>

    <div class="z-10">
      <h2 class="text-3xl md:text-5xl mb-5 text-white font-bold text-center">
        Keep track <br />
        of your movies
      </h2>

      <app-search-input></app-search-input>
    </div>
  </div>
  <app-tracked-movies></app-tracked-movies>
  <app-movies-list></app-movies-list>
</div>
