<br><br><br><br><br><br><br>
<div class="" style="text-align: center; ">
  <span class="text-white opacity-5 hidden md:block text-[5rem] font-black " style="color: red;">
    Page Not Found
  </span>

  <h3 class="text-white md:-mt-12 text-2xl md:text-4xl font-bold"  style="color: red;">
    Page Not Found

  </h3>
</div>


    <div class="popcorn__animation" style="height: 700px; ">
      <ng-lottie
        [options]="options"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
    </div>
